@page "/counter"
@using GroupAllExamples.Components.Counter

<h1>Counter</h1>

<div>
    <CounterComp CurrentCount="@CurrentCount.ToString()" />
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>

@code {
    private int CurrentCount = 0;

    private void IncrementCount()
    {
        CurrentCount++;
    }
}
