@page "/dashboard"
@using GroupAllExamples.Components.Dashboard

<h1>Dashboard</h1>
<hr />

<div class="card-deck">
    <PanelComp Heading="Heading 1">
        <h3>Content 1</h3>
    </PanelComp>
    <PanelComp Heading="Heading 2">
        <h3>Content 2</h3>
    </PanelComp>
</div>
<div class="card-deck mt-4">
    <PanelComp Heading="Heading 3">
        <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png"
             alt="Some Image"
             width="100%"
             height="100%" />
    </PanelComp>
</div>

@code {

}
