@page "/birthday"

<h1>Enter your birthday!</h1>

<input type="text" @bind="dob" />
<button type="button" @onclick="CalculateDay">Submit</button>

@if (day != "")
{
    <p class="mt-4">
        Your were born on...@day
    </p>
}

@code {
    private string dob = "";
    private string day = "";

    private void CalculateDay()
    {
        if (dob != null)
        {
            DateTime date;
            var isValid = DateTime.TryParse(dob, out date);
            if (isValid)
            {
                day = date.DayOfWeek.ToString();
            }
        }
    }
}