@page "/pomodoro"
@inherits TimerBase

<h1 style="color: @changeColor();">
    @remaining
</h1>

<button @onclick="Start" disabled="@isStart">Start</button>
<button @onclick="Stop" disabled="@isStop">Stop</button>
<button @onclick="Reset" disabled="@isReset">Reset</button>